*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

header{
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
}

.titolo{
    font-size: 50px;
}

.contenitore{
    margin-top: 50px;
    margin-inline: 20%;
}

main{
    padding-top: 20px;
    background-color: white;
    border-radius: 10px 10px 0px 0px ;
    font-size: 10px;
}

nav{
    height: 30px;
    padding-left: 40px;
}

.bottone{
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #47adf1;
    border: 2px solid #47adf1;
    color: white;
  }

.bottone-disattivato{
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #cfd4d8;
    color: #cfd4d8;
}

footer{
    padding: 20px;
    margin-top: 5px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

section{
    padding: 20px;

}

div{
    padding-top: 10px;
}

.verde{
    border: 1px solid green;
    color: green;
    border-radius: 50% ;
}

.rosso{
    border: 1px solid red;
    color: red;
    border-radius: 50% ;
}

#pulsante{
    padding: 5px;
    background-color: green;
    border-radius: 20px 20px 20px 20px;
    font-size: 10px;
}
